.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 400px;
}

.modal-content h2 {
  text-align: center;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.17em;
}

.modal-content > ul > li > button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e54e37;
  color: #fff;
}

.modal-buttons-ing {
  display: flex;
  justify-content: space-around;
}

.modal-button-add {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  height: 66px;
  cursor: pointer;
  background-color: #fda500;
  color: #fff;
}

.modal-button-add:hover,
.modal-button-add:focus,
.modal-button-add:active {
  background-color: #fc6d04;
}

.modal-button-close {
  height: 66px;

  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: black;
}

.modal-button-close:hover,
.modal-button-close:focus,
.modal-button-close:active {
  background-color: #ccc;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}

.quantity-btn:hover {
  background-color: #ccc;
  border: 1px solid #f0f0f0;
}

.quantity-value {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}
