.modal-modif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-modif-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 500px;
  min-height: 400px;
}

.modal-modif-content h2 {
  text-align: center;
  font-size: 29px;
}

.modal-modif-content h3 {
  font-size: 27px;
}

.modal-modif-content ul {
  list-style: none;
  padding: 0;
}

.modal-modif-content > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 25px;
}

.quantity-controls > button {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fda500;
  color: #fff;
  font-size: 20px;
}

.quantity-controls > button:hover,
.quantity-controls > button:active,
.quantity-controls > button:focus {
  background-color: #fc6d04;
}

.modal-buttons-ing {
  display: flex;
  justify-content: space-around;
}

.modal-button-add {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  height: 66px;
  cursor: pointer;
  background-color: #fda500;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}

.modal-button-add:hover,
.modal-button-add:focus,
.modal-button-add:active {
  background-color: #fc6d04;
}

.modal-button-close {
  height: 66px;

  padding: 15px 25px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  letter-spacing: 0.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}

.modal-button-close:hover,
.modal-button-close:focus,
.modal-button-close:active {
  background-color: #ccc;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.quantity-value {
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}
